@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Lobster+Two&display=swap');

body{
    background-image: url(../Images/back1.jpg);
    background-size: 100%; 
font-style:'Lobster', cursive; }

.picUni-image {
    width: 120px;
    height: 130px;
  }

